.Pennpic{
  display:flex;
}
.untpic{
  display:flex;
}
.everything{
  display:flex;
}
body{
  background-color:rgb(203, 236, 250);
}
h1{
  background-color:lightblue;
  color:grey;
}
b{
  color:grey;

}